<body class="landing is-preload">
		<div id="page-wrapper">

        <header id="header" class="alt">
          <h1><a href="/">Mybook</a> by Aman Gupta</h1>
          <nav id="nav">
            <ul>
              {{#if user}}
                <li><a href="/users/{{user._id}}">Homepage</a></li>
                <li><a href="/articles/add">Add Article</a></li>
              {{/if}}
              {{#if user}}
                <li><a href="/users/logout">Logout</a></li>
              {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register",class="button">Sign up</a></li>
              {{/if}}
            </ul>
          </nav>
        </header>






<section id="banner">
	<h2>Alpha</h2>
	{{#if user}}
	<p>Welcome {{user.name}},you can now add your articles in the Add article field and edit them from your homepage</p>
	{{else}}
	<p> Sign up to create and write your own articles</p>
	<ul class="actions special">
		<li><a href="/users/register" class="button primary">Sign Up</a></li>
	</ul>
	{{/if}}
</section>



<section id="main" class="container">

	<section class="box special">
		<p><b><strong>All articles by the authors of Mybook</strong><b></p>
		<header class="major">
			<ul class="list-group">
			  {{#each article}}
			    <li class="list-group-item"><a href="/articles/{{this._id}}">{{this.title}}</li>
			  {{/each}}
			</ul>
		</header>
	</section>
</div>
</body>